//
// Styles
// variables
//

// Components

$ui-input-label-height: 20px;
$ui-input-input-height: 30px;
$ui-input-height: $ui-input-label-height + $ui-input-input-height;

$ui-button-height: 35px;


// Colors

$color-green: #31ca50;
$color-blue: #108df6;
$color-yellow: #fbcd33;
