//
// Component
// Button
//

.Button {
    position: relative;
}


// Button

.Button
button {
    height: $ui-button-height;
    padding: 0 20px;

    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    outline: 0;

    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    line-height: $ui-button-height - 2px;
    letter-spacing: .06em;

    white-space: nowrap;
    cursor: pointer;
    transition: background-color .15s, border-color .15s, color .15s;

    &:hover {
        border-color: #888;
        color: #333;
        outline: 0;
    }

    span {
        transition: color .15s;
        font-weight: inherit;
        letter-spacing: inherit;
    }
}


// Spinner

.Button
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}


// State - Processing

.Button.processing {
    pointer-events: none;

    button * {
        color: transparent;
    }
}


// Flag - Size - Thin

.Button.thin
button {
    height: 30px;
    padding: 0 25px;
    line-height: 28px;
}


// Flag - Size - Large

.Button.large
button {
    height: 37px;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
}


// Flag - Width

.Button.w-full
button {
    width: 100%;
}


// Flag - Pill

.Button.pill
button {
    padding: 0 25px;
    border-radius: $ui-button-height / 2;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .02em;
}


// Flag - Colors

@mixin button-color($name, $color, $outline: 0, $darktext: 0) {
    .Button.#{$name}
    button {
        border-color: $color;

        @if $outline == 0 {
            background-color: $color;
            color: white;
        }

        @if $darktext == 1 {
            color: gs(20%);
        }

        &:hover {
            @if $outline == 0 { background-color: darken($color, 10%); }
            border-color: darken($color, 10%);
        }
    }

    // Flag - Size - Large
    @if $darktext == 0 {
        .Button.large.#{$name}
        button {
            font-weight: 600;
        }
    }

    // Flag - Pill
    @if $darktext == 0 {
        .Button.pill.#{$name}
        button {
            font-weight: 600;
        }
    }

    // Spinner
    @if $outline == 0 {
        .Button.#{$name}
        .Spinner {
            border-left-color: #fff;
        }
    }
}

@include button-color('green', $color-green);
@include button-color('blue', $color-blue);
@include button-color('gray', gs(87%), 0, 1);
