//
// Component
// Input
//

.Input {
    height: $ui-input-height;
}


// Label

.Input
label {
    display: block;
    height: $ui-input-label-height;
    margin: 0;

    line-height: $ui-input-label-height;
    color: gs(40%);
    font-size: 16px;

    transform: translateY(22px);
    pointer-events: none;
    transition: transform .2s, font-size .2s;
}

.Input.has-focus label,
.Input.has-value label {
    font-size: 13px;
    transform: translateY(0);
}


// Input

.Input
input {
    width: 100%;
    height: $ui-input-input-height;
    padding-bottom: 5px;

    outline: 0;
    border: 0;
    border-bottom: 1px solid #000;
    font-weight: 400;
    font-size: 16px;

    &::placeholder {
        color: gs(40%);
        font-weight: 300;
    }

    &:focus {
        border-bottom-color: $color-blue;
    }
}
